@-webkit-keyframes borderBlink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
@keyframes borderBlink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.borderLeft {
  border-left: 1px solid black;
}

.borderRight {
  border-right: 1px solid black;
}

.borderBlink {
  -webkit-animation: borderBlink 1s step-end infinite;
  animation: borderBlink 1s step-end infinite;
}
